<div class="container post-container">
    <div class="card">
        <div class="card-body">
            <h3>{{post.title}}</h3>
            <p>{{post.content}}</p>
            <small><b>Post made by:</b> {{post.authorName}}</small>
        </div>
        <div class="card-body post-actions" *ngIf="isAuthor">
            <button type="button" class="btn btn-primary" (click)="editPost(post._id)">
                Edit
            </button>
            <button type="button" class="btn btn-danger" (click)="deletePost(post._id)">
                Delete
            </button>
        </div>
    </div>
    <div class="comments-list">
        <div *ngIf="post.comments.length === 0">
            No comments yet
        </div>
        <div *ngIf="post.comments.length !== 0">
            <div class="alert alert-success" *ngFor="let comment of post.comments">
                <b>{{comment.username}} said:</b> {{comment.comment}}
            </div>
        </div>
        <div class="comment-form" *ngIf="loggedIn">
            <form class="form-inline" [formGroup]="commentForm" (ngSubmit)="addComment()">
                <fieldset>
                    <legend>Share your thoughts</legend>
                    <div *ngIf="errorMessage" class="alert alert-danger">
                        {{errorMessage}}
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Your comment</label>
                        <textarea type="text" class="form-control" id="comment" formControlName="comment"
                            maxlength="350" placeholder="What I like about this is..."></textarea>
                        <small class="invalid-comment" *ngIf="comment?.invalid && comment?.touched">Your comment is
                            invalid</small>
                    </div>
                    <button type="submit" class="btn btn-primary float-end"
                        [disabled]="commentForm.invalid">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>